body{
    background-color: bisque;
 }
 .nume{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style:inherit;
    color: #000000;;
 }
 .imagine {
    display: flex;
    align-items: left;
    justify-content: left;
    opacity: 100%;
    height: 200px;
    width: 300px;
 }
 .imagine img{
    border-radius: 10%;
    max-width: 100%;  
    height: auto;  
 }
 table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
 .hobby{
    border: 2px solid #dcc56a;
    width: 620px;
    background-color: #fcfcfc;
    color: #dcc56a ;
 }
 .citat{
    color: #e0ac8b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
 }
 .contact{
    color: #e0ac8b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
 }
 .imagine_agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
 }
 .imagine_agenda img{
   border-radius: 10%;
   max-width: 100%;  
   height: auto;  
}
 .agenda{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color:#e0ac8b ;
 }
 .cuprins{
   font-size: 40px;
   color:#e0ac8b ;
 }